.form-post__name{
    border: none;
    outline: none; 
    box-shadow: none; 
    border-bottom: 1px solid #C4C4C4;

    width: 358px;
    height: 27px;
    justify-content: center;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.form-profile__name::placeholder {
    
    color: #C4C4C4;

}

@media screen and (max-width: 580px) {
    .form-profile__name {
        width: 238px;
       
    }
}