.image-popup__close{
    position: absolute;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    cursor: pointer;
    
    transition: filter 0.3s;

    right: 50px;
    top: 60px;

        
    
}

.image-popup__close:hover {
    filter: brightness(50%);
}

@media screen and (max-width: 580px) {
    .image-popup__close {
        top: -55px;
        right: 10px;
        
}

}